---
import PageLayout from '@/layouts/PageLayout.astro';
import { SITE } from '@/consts';
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <div class="relative bg-background pt-16">
    <div class="mx-auto max-w-screen-sm space-y-24 p-5 pb-16"></div>
  </div>
</PageLayout>
