---
import PageLayout from '@/layouts/PageLayout.astro';
import { SITE } from '@/consts';
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <div class="relative bg-white pt-16 dark:bg-black">
    <div class="mx-auto max-w-screen-sm space-y-24 p-5 pb-16">
      <!-- About Section -->
      <section class="animate">
        <article>
          <p>
            I am a <b><i>software engineer</i></b>, <b><i>ui/ux designer</i></b
            >, <b><i>product planner</i></b>, <b><i>mentor</i></b>, <b
              ><i>student</i></b
            >, <b><i>minimalist</i></b>, <b><i>eternal optimist</i></b>, <b
              ><i>crypto enthusiast</i></b
            > and <b><i>sarcasm connoisseur</i></b>.
          </p>
        </article>
      </section>

      <!-- Recipes Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">Recent posts</p>
            <a
              href="/blog"
              class="blend group col-span-3 flex w-fit items-center gap-1 text-black underline decoration-black/25 decoration-[.5px] underline-offset-2 hover:decoration-black dark:text-white dark:decoration-white/50 dark:hover:decoration-white"
            >
              <span
                class="blend text-black/75 group-hover:text-black dark:text-white/75 group-hover:dark:text-white"
              >
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-4"></ul>
        </div>
      </section>

      <!-- Contact Section -->
      <section class="animate">
        <div>
          <p class="font-semibold text-black dark:text-white">Let's Connect</p>
          <p>Reach out to me via email or on social media.</p>
          <div class="mt-4 grid auto-cols-min grid-cols-4 gap-y-2"></div>
        </div>
      </section>
    </div>
  </div>
</PageLayout>
