---
import { SITE } from '@/consts';
import Container from '@/components/Container.astro';

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
---

<header id="header" class="fixed top-0 z-50 h-16 w-full px-2">
  <Container size="xl">
    <div class="relative h-full w-full">
      <div
        class="absolute left-0 top-1/2 flex -translate-y-1/2 gap-1 font-semibold"
      >
        <a
          href="/"
          class="flex gap-1 text-current transition-colors duration-300 ease-in-out hover:text-muted-foreground"
        >
          <svg class="mr-2 size-6 fill-current">
            <use href="/brand.svg#brand"></use>
          </svg>
          <div>
            {SITE.TITLE}
          </div>
        </a>
      </div>

      <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
        <nav class="hidden items-center justify-center gap-1 text-sm md:flex">
          <a
            href="/search"
            class:list={[
              'h-9 rounded-full px-3 text-current',
              'flex items-center justify-center',
              'transition-colors duration-300 ease-in-out',
              pathname === '/search' || '/' + subpath?.[0] === '/search'
                ? 'bg-black text-white dark:bg-white dark:text-black'
                : 'hover:bg-black/5 hover:text-black dark:hover:bg-white/20 dark:hover:text-white',
            ]}
          >
            <svg class="mr-2 size-4">
              <use href="/ui.svg#search"></use>
            </svg>
            Search
          </a>
        </nav>
      </div>

      <div class="buttons absolute right-0 top-1/2 flex -translate-y-1/2 gap-1">
        <a
          href="/search"
          aria-label={`Search blog posts and projects on ${SITE.TITLE}`}
          class:list={[
            'flex md:hidden',
            'size-9 items-center justify-center rounded-full p-2',
            'bg-transparent hover:bg-black/5 dark:hover:bg-white/20',
            'stroke-current hover:stroke-black hover:dark:stroke-white',
            'border transition-colors duration-300 ease-in-out',
            pathname === '/search' || '/' + subpath?.[0] === '/search'
              ? 'pointer-events-none bg-black text-white dark:bg-white dark:text-black'
              : '',
          ]}
        >
          <svg class="size-full">
            <use href="/ui.svg#search"></use>
          </svg>
        </a>

        <a
          href="/rss.xml"
          target="_blank"
          aria-label={`RSS Feed for ${SITE.TITLE}`}
          class:list={[
            'flex size-9 items-center justify-center rounded-full p-2',
            'bg-transparent hover:bg-black/5 dark:hover:bg-white/20',
            'fill-current stroke-current hover:stroke-black hover:dark:stroke-white',
            'border',
            'transition-colors duration-300 ease-in-out',
          ]}
        >
          <svg class="size-full">
            <use href="/ui.svg#rss"></use>
          </svg>
        </a>

        <button
          id="header-theme-button"
          aria-label={`Toggle light and dark theme`}
          class:list={[
            'flex size-9 items-center justify-center rounded-full p-2',
            'bg-transparent hover:bg-black/5 dark:hover:bg-white/20',
            'fill-current stroke-current hover:stroke-black hover:dark:fill-white',
            'border border-black/10 dark:border-white/25',
            'transition-colors duration-300 ease-in-out',
          ]}
        >
          <svg class="block size-full dark:hidden">
            <use href="/ui.svg#sun"></use>
          </svg>
          <svg class="hidden size-full dark:block">
            <use href="/ui.svg#moon"></use>
          </svg>
        </button>
      </div>
    </div>
  </Container>
</header>
