---
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

type Props = {
  page: Page<CollectionEntry<'recipes'>>;
};

const { page } = Astro.props;
---

<nav aria-label="Pagination" class="mx-auto w-full pt-5">
  <ul class="flex items-center justify-center gap-4">
    {
      page.url.prev && (
        <a href={page.url.prev} data-astro-prefetch>
          <button
            aria-label="Go to previous page"
            class="group flex w-fit items-center gap-0.5 rounded border border-black/15 px-2.5 py-1.5 text-sm transition-colors duration-300 ease-in-out hover:bg-black/5 dark:border-white/20 hover:dark:bg-white/10"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white"
            >
              <line
                x1="19"
                y1="12"
                x2="5"
                y2="12"
                class="translate-x-4 scale-x-0 transition-all duration-300 ease-in-out group-hover:-translate-x-1 group-hover:scale-x-100"
              />
              <polyline
                points="12 5 5 12 12 19"
                class="translate-x-0 transition-all duration-300 ease-in-out group-hover:-translate-x-1"
              />
            </svg>
            <div class="w-full transition-colors duration-300 ease-in-out group-hover:text-black group-hover:dark:text-white">
              Previous
            </div>
          </button>
        </a>
      )
    }
    <li>
      <p aria-current="page">Page {page.currentPage} of {page.lastPage}</p>
    </li>
    {
      page.url.next && (
        <a href={page.url.next} data-astro-prefetch>
          <button
            aria-label="Go to previous page"
            class="group flex w-fit items-center gap-0.5 rounded border border-black/15 px-2.5 py-1.5 text-sm transition-colors duration-300 ease-in-out hover:bg-black/5 dark:border-white/20 hover:dark:bg-white/10"
          >
            <div class="w-full transition-colors duration-300 ease-in-out group-hover:text-black group-hover:dark:text-white">
              Next
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white"
            >
              <line
                x1="5"
                y1="12"
                x2="19"
                y2="12"
                class="translate-x-4 scale-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1 group-hover:scale-x-100"
              />
              <polyline
                points="12 5 19 12 12 19"
                class="translate-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1"
              />
            </svg>
          </button>
        </a>
      )
    }
  </ul>
</nav>
